/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background-image: url(foto/pemandangan.jpg);
    color: white;
    font-size: 30px;
    background-position: center;
}

/* Page Content */
.content {
    padding: 20px;
    width: 50%;
}
.header h1{
    border: 5px solid #ffff;
    padding: 5px;
    width: 40%;
}
