body {
  background-color: #2644a7;
  color: #ffffff;
  font-family: "Open Sans", oblique;
  font-size: 17px;
  padding: 15px;
  margin: 0;
}

.container {
 max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h1 { text-align: center; }

.navbar { 
  text-align: center; 
  margin-bottom: 25px;
}

.list-nav {
    padding: 0;
    margin: 0; 
}

.list-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.list-nav a { font-size: 20px; }
.list-nav li a.active { color: #371a88; }
a:hover { color: #ffffff; }

a { 
  color: #000000; 
  text-decoration: underline;
}

.content { 
  background-color: #6ba2d4; 
  border-radius: 10px;
}

.content-header{ margin-bottom: 0; }

.content-text {
   font-size: 20px;
   margin: 0;
}

#content-img {
  background-image: url(img/header.jpg);
  background-position: center;
  background-size: cover;
  min-height: 400px;
  text-align: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

#content-img img {
  max-width: 50%;
  margin-bottom: -15px;
}

.content1 {
  padding: 15%;
  font-size: 30px;
}

.section {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.section-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
}

.section-header {
  color: #996633;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

hr {
  width: 60%;
  border: 0.5px solid #5265cc;
}

table {
  width: 100%;
  border-spacing: 0;
  padding-bottom: 20px;
}

th {
  color: #333333;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
}

td {
  text-align: center;
  padding: 10px 15px;
}

.text-left { text-align: left; }
tr:nth-child(odd) { background-color: #606bca; }

tr.tr-header {
  background-color: #82cffc;
  height: 50px;
}

.footer-text {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
img { 
   width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; 
}

.gallery {
  display: flex;
  margin-left: 4px;
  margin-right: 60px;
}
figure { margin: 0; }
figcaption { text-align: center; }

figcaption span {
  display: block;
  color: #333333;
  font-size: 15px;
}
p { text-align: center; }
.section-small p {
  text-align: left;
}
.lauma-img {
  border: 23px solid rgb(255, 255, 255); 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
  transition: transform 0.3s;
}
.gallery-img.lauma-img {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.lauma-bg {
  background-color: #63a7e7;
  padding: 20px;
  border-radius: 20px;
  background-image: url(img/bec9f-17433992224651-1920.webp);
}
.gallery-lauma {
  display: flex;
  flex-direction: column;   
  align-items: flex-start;  
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
}



